<div class="container text-center">
    <p class="head">List of Contacts</p>
</div>

<!-- <table mdbTable class="z-depth-1"> -->
    <table class="table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Postal Code</th>
            <th>Edit Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of ContactList">
            <td>{{ contact.FirstName }}</td>
            <td>{{ contact.LastName }}</td>
            <td>{{ contact.PhoneNumber }}</td>
            <td>{{ contact.Address }}</td>
            <td>{{ contact.City }}</td>
            <td>{{ contact.State }}</td>
            <td>{{ contact.Country }}</td>
            <td>{{ contact.PostalCode }}</td>
            <td>
              <button type="button" class="" (click)="populateForm(contact)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>